* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    background: url("https://images.unsplash.com/photo-1520916784675-1b97f1fc1c05?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTF8fHVucmVhbHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
}

.sidebar header {
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: #063146;
    user-select: none;
}

.sidebar .uli .asid {
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid orangered;
    border-bottom: 1px solid black;
    transition: .4s;
}


.uli .liste:hover .asid {
    padding-left: 50px;
    background-color: olivedrab;
}

.sidebar .uli .asid .liste {
    margin-right: 16px;
}

#tcheck {
    display: none;
}

label #petitbtn,
label #retour {
    position: absolute;
    cursor: pointer;
    background: #042331;
    border-radius: 3px;
}

label #petitbtn {
   
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
}
label #retour {
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color:#0a5275;
    padding: 4px 9px;
}
#tcheck:checked ~ .sidebar{
    left: 0;
} 
#tcheck:checked ~ label #petitbtn{
    left: 250px;
    opacity: 0;
    pointer-events: none;

}
#tcheck:checked ~ label #retour{
    left: 195px;
    transition: all .5s ease;

}
#tcheck:checked ~ .imgresponsive{
    margin-left: 200px;
}
.imgresponsive{

    background: url(https://images.unsplash.com/photo-1465146344425-f00d5f5c8f07?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8bmF0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60) no-repeat;
    background-position: center;
    background-size: contain;
    height: 100vh;
    transition: all .5s;
    padding: 70px;
    margin: 70px;
}
/* .logo_en-tete{
    width: 100%;
    margin-top: 150px;
    margin-left: 40%;
} */
/* .en-tete{
    z-index: -1;
    margin-top: 50px;
    justify-content: center;
}
h1{
    font-family: 'Fredoka One', cursive;
    font-size: 8rem;
    color: #8bdb21;
    position: center;
}
p{
    color: orangered;
    font-size: 50px;
} */

